hostname {{hostname}}

Banner motd 1
  Unauthorized access is strictly prohibited. All access and activity
  is subject to logging and monitoring.1

{% for vlan in vlans -%}
vlan {{ vlan }}
  name {{ vlans[vlan].name }}
{% endfor -%}

{% for mgmt in management -%}
interface vlan {{ mgmt }}
  ip address {{ management[mgmt].ip }} {{ management[mgmt].mask }}
  no shutdown
  interface {{ management_int }}
  switchport mode access
  switchport access vlan {{ mgmt }}
  no shutdown
{% endfor -%}

{% for intf in interfaces -%}
interface {{ intf }}
  switchport mode {{ interfaces[intf].type }}
  switchport access vlan {{ interfaces[intf].vlan }}
  switchport port-security
  switchport port-security maximum {{ interfaces[intf].max }}
  switchport port-security mac-address sticky
  switchport port-security violation {{ interfaces[intf].violation }}
  {% if interfaces[intf].trust == 'yes' %}
  ip dhcp snooping trust
  no shutdown
  {% else %}
  no shutdown
  {% endif -%}
{% endfor -%}

{% for eth in etherchannel -%}
interface {{ eth }}
  channel-group {{ etherchannel[eth].channelgroup }} mode {{ etherchannel[eth].mode }} 
{% endfor -%}

int port-channel 1
switchport mode trunk
ip dhcp snooping trust

 {% for port in ports -%}
interface range {{ port }}
{% endfor -%}

{% for sec in security -%}
interface range {{ sec }}
  switchport port-security
  switchport port-security maximum {{ security[sec].max }}
  switchport port-security mac-address sticky
  switchport port-security violation {{ security[sec].violation }}
  shutdown
{% endfor -%}

interface {{ DHCP_Trust }}
  ip dhcp snooping trust
  no shutdown