hostname {{hostname}}

{% for vlan in vlans -%}
vlan {{ vlan }}
  name {{ vlans[vlan].name }}
{% endfor -%}

interface vlan 99
ip address 192.168.90.13 255.255.255.0

{% for intf in interfaces -%}
interface {{ intf }}
  {% if interfaces[intf].type == 'access' %}
  switchport mode {{ interfaces[intf].type }}
  switchport access vlan {{ interfaces[intf].vlan }}
  no shutdown
  {% elif interfaces[intf].type == 'trunk' %}
  switchport mode {{ interfaces[intf].type }}
  switchport trunk allowed vlan {{ interfaces[intf].vlan }}
  switchport trunk native vlan {{ interfaces[intf].native }}
  ip dhcp snooping trust
  no shutdown
  {% elif interfaces[intf].type == 'management' %}
  switchport mode  {{ interfaces[intf].mode}}
  switchport access vlan  {{ interfaces[intf].vlan }}
  {% endif -%}
{% endfor -%}

{% for sec in security -%}
interface range {{ sec }}
  switchport port-security
  switchport port-security maximum {{ security[sec].max }}
  switchport port-security mac-address sticky
  switchport port-security violation {{ security[sec].violation }}
  shutdown
{% endfor -%}